.page-header
  %h2 Election Logs

.row
  .col-sm-12
    = link_to "Back to election", @election

.row
  .col-sm-12
    %h3 Upload New Voter Transaction Log
    = form_for :upload, url: [ @election, :transaction_logs ], html: { multipart: true, class: 'form' } do |f|
      .form-group
        .row
          .col-sm-3
            = f.file_field :file
      .form-group
        = f.submit 'Upload', class: 'btn btn-primary'

