.row
  .col-sm-12
    %h3 Elections

    .pull-right
      = link_to "New Election", :new_election, class: 'btn btn-primary'

    %table.table
      %thead
        %tr
          %th Elections
          %th

      - if @elections.empty?
        %tr
          %td{ colspan: 2 } There are no elections yet
      - else
        - @elections.each do |e|
          %tr
            %td= link_to e.name, e
            %td.col-sm-1.text-right
              = link_to e, method: 'delete', data: { confirm: 'Delete this election?' }, class: 'btn btn-xs btn-danger' do
                .glyphicon.glyphicon-remove
