.block {
  h3 {
    margin-top: 0;
  }
}

.navbar-default .navbar-brand span {
  font-size: 115%;
}

.section-row {
  background-color: #f4f4f4;
  margin-bottom: 5px;

  h4, button, .btn {
    margin-top: 10px;
  }
}

.panel.errors ul {
  margin-bottom: 0px;
}

.section table.table-padded {
  th, td {
    padding-left: 8px !important;
  }
}
