// body {
//   background-color: #f0f0f0;
// }

#wrap > .container {
  background-color: #fff;
  overflow: hidden;
}

.block {
  h3 {
    margin-top: 0;
  }
}

.navbar-default .navbar-brand span {
  font-size: 115%;
}

.section-row {
  background-color: #f4f4f4;
  margin-bottom: 5px;

  h4, button, .btn {
    margin-top: 10px;
  }
}

.panel.errors ul {
  margin-bottom: 0px;
}

.section table.table-padded {
  th, td {
    padding-left: 8px !important;
  }
}

table#report {
  th, td { white-space: nowrap; }
}

$em-base: #f4f4f4;
$em-step: #0a0a0a;
$odd-shade: #050505;
#report_wrapper, table#report {
  th {
    vertical-align: bottom;
  }

  .em1 { background-color: $em-base; }
  .em2 { background-color: $em-base - $em-step; }
  .em3 { background-color: $em-base - $em-step * 2; }

  .odd {
    .em1 { background-color: $em-base - $odd-shade; }
    .em2 { background-color: $em-base - $odd-shade - $em-step; }
    .em3 { background-color: $em-base - $odd-shade - $em-step * 2; }
  }
}

.no-pad {
  padding-left: 0;
  padding-right: 0;

  tr > td:first-child {
    padding-left: 15px !important;
  }

  tr > td:last-child {
    padding-right: 15px !important;
  }
}

.smaller {
  font-size: 90%;
}
