.page-header
  %h2 Advanced Reporting
  %p= link_to "Back to Election: '#{@election.name}'", @election
  -# %p= link_to "Export to CSV", @csv_path

.row
  .col-sm-12
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed pellentesque turpis. Praesent metus nunc, laoreet et rhoncus sed, pellentesque sed ligula. Donec congue et velit in faucibus. Phasellus a diam lobortis, maximus odio quis, sodales nulla. Vivamus tellus est, porta nec euismod ac, sagittis at neque. Etiam posuere non odio ut sagittis. In faucibus odio eu turpis eleifend, eu interdum sem euismod. Etiam porta tincidunt orci, at semper ipsum cursus eu. Sed eget augue mi. Suspendisse potenti. Donec id tempus magna, nec laoreet elit. Ut nec tellus vel lectus iaculis aliquet in bibendum sapien. Sed tincidunt eros tempus nunc laoreet, a auctor augue rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    %h4 Advanced Reports
    %p= link_to "TBD", "#"
