.page-header
  %h2 Events by County

.row
  .col-sm-12
    %table.table
      %thead
        %th Jurisdiction
        - @report.columns.each do |c|
          %th= c

      %tbody
        - @report.rows.each do |county, values|
          %tr
            %td= county
            - @report.columns.each do |c|
              %td.text-center= values[c]
